# Based on Google style guide, with personal preferences.

BasedOnStyle: Google
BreakBeforeBraces: Allman

IndentWidth: 4
AccessModifierOffset: -4

ColumnLimit: 110

DerivePointerAlignment: false
PointerAlignment: Left
  
AlignAfterOpenBracket: BlockIndent
  
AllowAllArgumentsOnNextLine: true
BinPackParameters: BinPack
BinPackArguments: true
  
NamespaceIndentation: All
FixNamespaceComments: false

AllowShortLambdasOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None

PackConstructorInitializers: NextLineOnly

SpaceAfterTemplateKeyword: false

ReflowComments: false